html, body {
    font-family: roboto;
}
.btn:focus{
    outline: none !important;
}
.flex{
    display: flex;
}

.alert {
    border: 0;
    border-radius: 0;
}

.alert-danger {
    background-color: #f44336;
    color: rgba(255,255,255,0.84);
}

#nav {
    font-family: roboto;
    font-weight: 300;
    margin-bottom: 0;
}

#nav .container{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
}

.pabble-topbar{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    padding-top: 5px;
    font-size: 11px;
    font-weight: bold;
}
.pabble-topbar .my-subpabbles{
    min-width: 110px;
}
.pabble-topbar .my-subpabbles .navbar .dropdown-toggle{
    margin-top: -1px;
    padding:0px;
    color:#3097D1;
    margin-left:10px;
}
.pabble-topbar .my-subpabbles .navbar ul{
    font-size: 12px;
    margin:0;
    padding:0;
    left:10px
}
.pabble-topbar .my-subpabbles .navbar ul li span{
    padding: 10px;
}
.pabble-topbar .main-links{
    margin-left: 20px;
    min-width: 135px;
}
.pabble-topbar .main-links a{
    margin-right: 10px;
}
.pabble-topbar .all-subpabbles{
    margin-left: 10px;
    overflow: hidden;
    display: inline;
    white-space: nowrap;
}
.pabble-topbar .all-subpabbles a{
    margin-right: 10px;
    color: #777;
}
.navbar-right .join-nav{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 3px 5px ;
    margin-top: 12px;
}

.navbar-header .pubble-manage{
    padding-left: 30px;
    margin-top: 10px;
}
.navbar-header .pubble-manage a{
    margin-right: 20px;
}

#page_control {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search_box {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background:#fafafa;
}
.search_box h4{
    color:#3097D1;
    margin-bottom:3px;
}
.search_box h5{
    color:#3097D1;
    margin-bottom:3px;
}
.search_box2 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#e5e5e5;
}
.search_box2 h4{
    color:#3097D1;
    margin-bottom:3px;
}
.search_box2 h5{
    color:#3097D1;
    margin-bottom:3px;
}
.well hr{
    margin-top: 3px;
    margin-bottom:7px;
    border-top:1px solid #b6b6b6;
}

.navbar-default .navbar-toggle {
    border: none !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.page-info{
    border-bottom: 2px solid #3097D1;
    padding-top: 15px;
    padding-bottom: 7px;
}
.page-info .title{
    font-size: 16pt;
}

.page-info .tabmenu{
    float: right;
    margin-top: 8px;
}
.navbar-brand{
    padding-left: 0px;
}
.navbar-brand div{
    height: inherit;
    display: inline-block;
    font-family: Raleway;
    font-weight: 500;
}
.navbar-brand div img{
    height: 40px;
    margin-top: -7px;
}

.w-full{
    width: 100%;
}
.mt-0{
    margin-top: 0px !important;
}
.mt-3{
    margin-top: 10px;
}
.mt-7{
    margin-top: 20px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-3{
    margin-bottom: 10px;
}
.mr-3{
    margin-right: 10px;
}
.pl-3{
    padding-left: 10px;
}
.pr-0{
    padding-right: 0px;
}
.pl-0{
    padding-left: 0px;
}
.pr-3{
    padding-right: 10px;
}
.pb-3{
    padding-bottom: 10px;
}
.ml-0{
    margin-left: 0px !important;
}
.ml-4{
    margin-left: 15px !important;
}
.ml-6{
    margin-left: 20px;
}
.ml-12{
    margin-left: 40px;
}
.ml-1{
    margin-left: 3px;
}
.-mt-3{
    margin-top: -10px;
}
.max-w-full{
    max-width: 100%;
}
.max-h-100{
    max-height: 100px;
}
.max-h-600{
    max-height: 600px;
}
.navbar-header #alerts_mobile {
    float: right;
}
.navbar-header #alerts_mobile .dropdown-toggle{
    color: #777;
    margin:0;
    padding:10px;
    background: none;
}
.navbar-header #alerts_mobile .dropdown-toggle .fa-bell{
    position: absolute;
    left: -10px;
    top: 15px;
    font-size: 20px;
}
.navbar-header #alerts_mobile .dropdown-toggle .badge{
    position:absolute;
    top:10px;
    z-index: 2;
    background: orangered;
    right: -3px;
}
.navbar-header #alerts_mobile .dropdown-menu{
    margin-top: 30px;
    width: 300px;
    left: -225px;
}
.navbar-header #alerts_mobile .dropdown-menu hr{
    margin: 1px;
    padding:0
}
.navbar-header #alerts_mobile .dropdown-menu .mention{
    white-space: normal;
    text-align: left
}
#alerts_desktop .dropdown-toggle{
    margin:0;
    padding:10px;
    background: none;
}
#alerts_desktop .dropdown-toggle span.fa-bell{
    position: absolute;
    left: -10px;
    top: 15px;
    font-size: 22px;
}
#alerts_desktop .dropdown-toggle span.badge{
    position:absolute;
    top:10px;
    z-index: 2;
    background: orangered;
    right: -3px;
}
#alerts_desktop ul.dropdown-menu{
    margin-top: 30px;
    width: 300px;
}
#alerts_desktop ul.dropdown-menu hr{
    margin: 1px;
    padding:0
}
#alerts_desktop ul.dropdown-menu a.mention{
    white-space: normal;
    text-align: left
}
.navbar-nav #logout-form{
    display: none;
}
.content{
    min-height: calc(100vh - 185px);
}
.container {
    width: 80%;
}
.container .row.panel{
    margin-left: -30px;
    margin-right: -30px;
}
.welcome{
    margin-top: 50px;
    text-align: center;
}
.welcome p{
    margin-top: 50px;
}
.welcome .checkout-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:210px;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #fff !important;
}
.text-red{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
#subs_list{
    max-height: 250px;
    overflow-y: scroll
}
.footer{
    border-top: 1px solid rgb(204 199 199);
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}
.footer .app-link a{
    margin-right: 10px;
    color: #777;
}
.input-group .input-group-prepend{
    position: absolute;
    z-index: 3;
}
.input-group .input-group-prepend select{
    background: #c5c4c4;
    padding: 0px;
}
.input-group .search-query-global{
    padding-left: 68px;
}
.input-group .search-query-global:focus{
    z-index: 2;
}
@media screen and (max-width: 560px) {
    #alerts_desktop {
        display: none;
    }
    .pubble-manage{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #alerts_desktop {
        display: none;
    }
    .navbar-brand{
        padding-left: 10px;
    }
}
@media screen and (min-width: 768px) {
    #alerts_mobile {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #page_control {
        margin-left: 20px; margin-top: 20px;
    }
}
