.header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header_name {
    margin-top:10px;
    text-align: center;
    color: #fff;
    font-family: roboto;
    /*font-size: 2.9vmin;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#header_title {
    text-align: center;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.affix {
    top: 0;
    width: 100%;
}

.thread {
    font-family: roboto;
    font-weight: 300;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thread .votes{
    width: 55px;
    border-right: 2px solid #3097d1;
    margin-right: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 5px;
    padding-top: 5px;
}
.thread .votes .upvote{
    margin-bottom: -15px;
    margin-top:8px
}
.thread .votes .downvote{
    margin-top: -15px;
}
.thread.even{
    background: #f5f3f3;
}
.thread .image{
    min-width: 90px;
    margin-top:10px;
}
.thread .image img{
    max-height: 76px;
    max-width: 76px;
}
.stack {
    text-align: center;
}

.thread .thread_info {
    display: block;
}
.thread .thread_info .title{
    color: #636b6f;
}
.thread .thread_info .title h3{
    margin-top: 14px;
    font-size: 18px;
    font-weight: bold;
}
.thread .thread_info .description{
    margin-top: -7px;
}
.thread .thread_info .upvote{
    color: #3097D1;
}
.thread .thread_info .downvote{
    color: blue;
}
.thread .thread_info .comment p{
    margin-top: -7px;
}
.panel.comment.reply{
    background: #fff7dd;
}
.panel{
    box-shadow:none;
}
.panel-body{
    padding-top: 5px;
    padding-bottom: 5px;
}
.upvote a{
    color: inherit;
}
.downvote a{
    color: inherit;
}

.overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabmenu {
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    display: flex;
}

.tabmenu li {
    border-radius: 5px;
    border: 1px solid #bebebe;
    background-color: #e7e7e7;
    padding: 3px 3px;
    display: inline;
    margin-right: 5px;
}

.tabmenu li a{
    width: 55px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 9pt;
}

.tabmenu li a:hover{
    color: #5f99cf;
}

.selected {
    color: #5f99cf;
    font-weight: bold;
}

.vote {
    cursor: pointer;
    font-size: 28pt;
}

#looks_like {
    margin-top: 50px;
}
.thin{
    font-weight: lighter;
}
@media screen and (max-width: 560px) {
    .rightmenu {
        margin-top: 40px;
    }
    .tabmenu_bottom {
        border-top: 1px solid #5f99cf !important;
    }
}

@media screen and (min-width: 560px) {
    .rightmenu {
        float: right;
    }
}


@media screen and (max-width: 768px) {
    #edit_pabble {
        display: none;
    }
}
