.header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header_name {
    margin-top:10px;
    text-align: center;
    color: #fff;
    font-family: roboto;
    /*font-size: 2.9vmin;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#header_title {
    text-align: center;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.affix {
    top: 0;
    width: 100%;
}

.thread {
    font-family: roboto;
    font-weight: 300;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.thread.even{
    background: #f5f3f3;
}

.thread_title{
    margin-top: 10px;
}

.stack {
    text-align: center;
}

.thread_info {
    display: block;
}

.overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabmenu {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-top: 3px;
    display: flex;
}

.tabmenu li {
    padding: 3px 5px;
    display: inline;
    background-color: white;
    margin-right: 5px;
}
.tabmenu li:hover{
    background-color: #f5f3f3 !important;
}
.tabmenu li a{
    width: 55px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 9pt;
}

.selected {
    border: 2px solid #c0bdbd;
    border-radius: 3px;
}

.vote {
    cursor: pointer;
    font-size: 28pt;
}

#looks_like {
    margin-top: 50px;
}

@media screen and (max-width: 560px) {
    .rightmenu {
        margin-top: 40px;
    }
    .tabmenu_bottom {
        border-top: 1px solid #5f99cf !important;
    }
}

@media screen and (min-width: 560px) {
    .rightmenu {
        float: right;
    }
}


@media screen and (max-width: 768px) {
    #edit_pabble {
        display: none;
    }
}
